.hero {
    position: relative;
    height: 90vh;

    @media (max-width: 768px) {
        height: 70vh;
    }

    @media (max-width: 570px) {
        height: 50vh;
    }

    &Content {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 10%;

        @media (max-width: 570px) {
            left: 5%;
            right: 0;
        }
    }

    &Title {
        color: $primary;
        font-size: 48px;

        @media (max-width: 450px) {
            font-size: 40px;
        }

        @media (max-width: 390px) {
            font-size: 30px;
        }
    }
}

#home .hero {
    background: linear-gradient(rgba(0, 0, 0, 40%), rgba(0, 0, 0, 40%), rgba(0, 0, 0, 0%)),
        url('../../Assets/Img/home/hero.webp');
    background-repeat: no-repeat;
    background-size: cover;

    @media (max-width: 1690px) {
        background-position-x: 35%;
    }
}

#bateau .hero {
    background: linear-gradient(rgba(0, 0, 0, 40%), rgba(0, 0, 0, 40%), rgba(0, 0, 0, 0%)),
        url('../../Assets/Img/bateau/hero.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 85%;

    @media (max-width: 1200px) {
        background-position-x: 35%;
    }

    &Content {
        top: 25%;
        right: 45%;

        @media (max-width: 768px) {
            top: 35%;
            right: 35%;
        }
    }
}