.hero {
    position: relative;
    height: 90vh;

    @media (max-width: 768px) {
        height: 70vh;
    }

    @media (max-width: 570px) {
        height: 50vh;
    }

    &Content {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 10%;

        @media (max-width: 570px) {
            left: 5%;
            right: 0;
        }
    }

    &Title {
        color: $primary;
        font-size: 48px;

        @media (max-width: 450px) {
            font-size: 40px;
        }

        @media (max-width: 390px) {
            font-size: 30px;
        }
    }
}

#home .hero {
    background: linear-gradient(rgba(0, 0, 0, 40%), rgba(0, 0, 0, 40%), rgba(0, 0, 0, 0%)),
        url('../../Assets/Img/home/hero.jpg');
    background-repeat: no-repeat;
    background-size: cover;

    @media (max-width: 1690px) {
        background-position-x: 35%;
    }
}

#bateau .hero {
    background: linear-gradient(rgba(0, 0, 0, 40%), rgba(0, 0, 0, 40%), rgba(0, 0, 0, 0%)),
        url('../../Assets/Img/bateau/hero.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 85%;

    @media (max-width: 1200px) {
        background-position-x: 35%;
    }

    &Content {
        top: 25%;
        right: 45%;

        @media (max-width: 768px) {
            top: 35%;
            right: 35%;
        }
    }
}

#barcelone .hero {
    background: linear-gradient(rgba(0, 0, 0, 40%), rgba(0, 0, 0, 40%), rgba(0, 0, 0, 0%)),
        url('../../Assets/Img/etapes/barcelone.jpg');
    background-repeat: no-repeat;
    background-size: cover;

    @media (max-width: 1400px) {
        background-position-x: 35%;
    }

    &Content {
        top: 50%;
        right: 50%;

        @media (max-width: 1400px) {
            top: 40%;
            right: 60%;
        }

        @media (max-width: 768px) {
            top: 35%;
            right: 50%;
        }
    }

}

#cagliari .hero {
    background: linear-gradient(rgba(0, 0, 0, 40%), rgba(0, 0, 0, 40%), rgba(0, 0, 0, 0%)),
        url('../../Assets/Img/etapes/cagliari.jpg');
    background-repeat: no-repeat;
    background-size: cover;

    &Content {
        top: 20%;
        right: 50%;

        @media (max-width: 768px) {
            top: 25%;
            right: 60%;
        }
    }

}

#naples .hero {
    background: linear-gradient(rgba(0, 0, 0, 40%), rgba(0, 0, 0, 40%), rgba(0, 0, 0, 0%)),
        url('../../Assets/Img/etapes/naples.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 50%;

    &Content {
        top: 20%;
        right: 50%;

        @media (max-width: 768px) {
            top: 35%;
            right: 20%;
        }

        @media (max-width: 570px) {
            top: 33%;
            right: 5%;
            left: auto;
        }
    }
}

#civitavecchia .hero {
    background: linear-gradient(rgba(0, 0, 0, 40%), rgba(0, 0, 0, 40%), rgba(0, 0, 0, 0%)),
        url('../../Assets/Img/etapes/civitavecchia.jpg');
    background-repeat: no-repeat;
    background-size: cover;

    &Content {
        top: 20%;
        right: 50%;

        @media (max-width: 1200px) {
            right: 30%;
        }

        @media (max-width: 992px) {
            right: 5%;
        }

        @media (max-width: 570px) {
            top: 35%;
        }
    }

    &Title {
        @media (max-width: 570px) {
           font-size: 40px;
        }

        @media (max-width: 480px) {
            font-size: 30px;
        }

        @media (max-width: 360px) {
            font-size: px;
        }
    }
}

#genes .hero {
    background: linear-gradient(rgba(0, 0, 0, 40%), rgba(0, 0, 0, 40%), rgba(0, 0, 0, 0%)),
        url('../../Assets/Img/etapes/genes.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 50%;

    &Content {
        top: 20%;
        right: 50%;

        @media (max-width: 768px) {
            top: 35%;
            right: 20%;
        }

        @media (max-width: 570px) {
            top: 33%;
            right: 5%;
            left: auto;
        }
    }
}

#marseille .hero {
    background: linear-gradient(rgba(0, 0, 0, 40%), rgba(0, 0, 0, 40%), rgba(0, 0, 0, 0%)),
        url('../../Assets/Img/etapes/marseille.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 50%;

    &Content {
        top: 20%;
        right: 50%;

        @media (max-width: 768px) {
            top: 35%;
            right: 20%;
        }

        @media (max-width: 570px) {
            top: 33%;
            right: 5%;
            left: auto;
        }
    }
}